.MMM-InternetRadio {
	text-align: center;
}

.MMM-InternetRadio_player{
    margin: 0 auto;
    width: 100%;
    display: block;
}

.MMM-InternetRadio_cover-container{
    margin:0 auto;
}

.MMM-InternetRadio_text-container{
}

.MMM-InternetRadio_cover{
    margin: 0 auto;
	text-align: center;			
    width: 300px;
    height: 300px;
}

.MMM-InternetRadio_init{
    font-size:28px;
    font-weight: bold;
    margin: 0;
}
    
.MMM-InternetRadio_title{
    font-size:20px;
    font-weight: bold;
}

.MMM-InternetRadio_artist{
    font-size:20px;
}

.MMM-InternetRadio_stations {
    margin: 0 auto;
	display: table;
}

.MMM-InternetRadio_stationInfo, .MMM-InternetRadio_stationInfoHighlight {
  display: table-cell;
  border-radius: 15px;
  border: 2px solid white;
  padding: 1px; 
  width: 150px;
  font-size:13px;
  margin: 0 auto;
}

.MMM-InternetRadio_stationInfoHighlight {
  font-weight: bold;
  font-size: 14px;
  border: double white;
  background-color: rgba(80, 80, 80, 0.7);
}